body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/space.jpg");
  height: 800px;
  color: white;
}

.arrow {
  position: absolute;
  top: 352px;
  left: 352px;
}

.container {
  display: flex;
}

.input_list {
  place-self: center;
  width: 320px;
  input {
    display: block;
    margin: 20px 0;
  }

  &__first {
    margin-bottom: 80px;
  }

  &__item {
    &--title {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.arrow {
  transition: all 1s;
}

.empty_space {
  width: 200px;
}

.earth_image {
  width: 350px;
}

.earth {
  width: 350px;
  input {
    margin: 20px 0;
  }
  > div {
    margin-top: 20px;
  }
}

.appointed {
  > div {
    position: absolute;
    background: #f0ff68;
    width: 50px;
    height: 50px;
    opacity: 0;
    border-radius: 50%;
  }

  &__number {
    &1 {
      bottom: 799px;
      left: 426px;
    }
    &2 {
      bottom: 762px;
      left: 521px;
    }
    &3 {
      bottom: 690px;
      left: 592px;
    }
    &4 {
      bottom: 596px;
      left: 631px;
    }
    &5 {
      bottom: 496px;
      left: 631px;
    }
    &6 {
      bottom: 401px;
      left: 591px;
    }
    &7 {
      bottom: 328px;
      left: 520px;
    }
    &8 {
      bottom: 291px;
      left: 426px;
    }
    &9 {
      bottom: 290px;
      left: 325px;
    }
    &10 {
      bottom: 328px;
      left: 231px;
    }
    &11 {
      bottom: 399px;
      left: 159px;
    }
    &12 {
      bottom: 496px;
      left: 120px;
    }
    &13 {
      bottom: 596px;
      left: 121px;
    }
    &14 {
      bottom: 690px;
      left: 159px;
    }
    &15 {
      bottom: 762px;
      left: 232px;
    }
    &16 {
      bottom: 801px;
      left: 325px;
    }
  }
}

.blinking {
  animation: blink 0.5s ease-in-out infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

.mars {
  background-color: white;
  opacity: 0;
  width: 600px;
  height: 600px;
  transform: translate3d(100px, -700px, 0);
  border-radius: 50%;
}
