canvas {
  background-color: rgb(255, 239, 219);
}

.arrow {
  position: absolute;
  top: 352px;
  left: 352px;
}

.container {
  display: flex;
}

.input_list {
  place-self: center;
  width: 320px;
  input {
    display: block;
    margin: 20px 0;
  }

  &__first {
    margin-bottom: 80px;
  }

  &__item {
    &--title {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.arrow {
  transition: all 1s;
}

.empty_space {
  background-color: rgb(51, 51, 51);
  width: 200px;
}

.earth_image {
  width: 350px;
}

.earth {
  background-color: rgb(221, 247, 255);
  width: 350px;
  > div {
    margin-top: 20px;
  }
}

.appointed {
  > div {
    position: absolute;
    background: #f0ff68;
    width: 50px;
    height: 50px;
    opacity: 0;
    border-radius: 50%;
  }

  &__number {
    &1 {
      bottom: 725px;
      left: 426px;
    }
    &2 {
      bottom: 688px;
      left: 521px;
    }
    &3 {
      bottom: 616px;
      left: 592px;
    }
    &4 {
      bottom: 522px;
      left: 631px;
    }
    &5 {
      bottom: 422px;
      left: 631px;
    }
    &6 {
      bottom: 327px;
      left: 591px;
    }
    &7 {
      bottom: 254px;
      left: 520px;
    }
    &8 {
      bottom: 217px;
      left: 426px;
    }
    &9 {
      bottom: 216px;
      left: 325px;
    }
    &10 {
      bottom: 254px;
      left: 231px;
    }
    &11 {
      bottom: 325px;
      left: 159px;
    }
    &12 {
      bottom: 421px;
      left: 120px;
    }
    &13 {
      bottom: 522px;
      left: 121px;
    }
    &14 {
      bottom: 616px;
      left: 159px;
    }
    &15 {
      bottom: 687px;
      left: 232px;
    }
    &16 {
      bottom: 727px;
      left: 325px;
    }
  }
}

.blinking {
  animation: blink 0.5s ease-in-out infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.4;
  }
}
