<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/util.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="container">
    <img class="arrow" style="transform: rotate(-78.75deg)" src="./images/arrow.svg" alt="">
    <canvas class="_canvas" width="800" height="800"></canvas>

    <div class="input_list">
      <div class="">
        <span class="_receive_interpreting"></span>
      </div>

      <div class="input_list__first">
        <span class="input_list__item--title">송수신정보</span>
        <input class="_receive_input" type="text" size="40" readonly>
        <button class="_receive_button">해석하기</button>
      </div>

      <div class="input_list__second">
        <span class="input_list__item--title">발신정보입력</span>
        <input class="_send_input" type="text" size="40">
        <button class="_send_button">지구로 보내기</button>
      </div>

      <div class="">
        <span class="_send_interpreting"></span>
      </div>
    </div>

    <div class="empty_space"></div>

    <div class="earth">
      <img class="earth_image" src="./images/earth.png" alt="">

      <div>
        <span>asdf</span>
      </div>
      <div>
        <span>송수신정보</span>
        <input class="" type="text" size="40">
        <button class="">해석하기</button>
      </div>

      <div>
        <span>발신정보입력</span>
        <input class="" type="text" size="40">
        <button class="">화성으로 보내기</button>
      </div>

      <div>
        <span>123</span>
      </div>
    </div>

  </div>
  <div>
    <span class="_message">68 65 6c 6c 6f 20 65 61 72 74 68 21</span>
  </div>

  <div class="appointed">
    <div class="appointed__number1"></div>
    <div class="appointed__number2"></div>
    <div class="appointed__number3"></div>
    <div class="appointed__number4"></div>
    <div class="appointed__number5"></div>
    <div class="appointed__number6"></div>
    <div class="appointed__number7"></div>
    <div class="appointed__number8"></div>
    <div class="appointed__number9"></div>
    <div class="appointed__number10"></div>
    <div class="appointed__number11"></div>
    <div class="appointed__number12"></div>
    <div class="appointed__number13"></div>
    <div class="appointed__number14"></div>
    <div class="appointed__number15"></div>
    <div class="appointed__number16"></div>
  </div>

  <script src="./main_bundle.js"></script>

</body>

</html>